<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="dismiss()"><span aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
        <h4 class="modal-title"><span ng-if="version.title">Edit</span> <span ng-if="!version.title">Add a new</span>
            version</h4>
    </div>
    <div class="modal-body swatch-white" ng-cloak>

        <div class="container-fluid">

            <form class="form" name="form.versionForm" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error' : form.versionForm.status.$invalid }">
                            <label for="">Status
                                <span ng-bind-html="confluenceTip('Status')"></span>
                            </label>
                            <select required name="status" id="" class="form-control caret-for-select"
                                    ng-options="status.id as status.label for status in versionStatuses"
                                    ng-model="version.status"><option value="">Select
                                a version status</option></select>

                            <p ng-show="form.versionForm.status.$invalid" class="help-block">Version status is required.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error' : form.versionForm.release_date.$invalid }">
                            <label for="">Release Date
                                <span ng-bind-html="confluenceTip('ReleaseDate')"></span>
                            </label>

                            <p class="input-group">
                                <input required type="text" id="release_date" name="release_date" class="form-control"
                                       ng-model="version.release_date" placeholder="Release Date (supported formats: YYYY-MM-DD, YYYY-MM, YYYY)"
                                       uib-datepicker-popup="yyyy-MM-dd" alt-input-formats="['yyyy-MM', 'yyyy']"
                                       is-open="opened" on-open-focus="false" ng-focus="opened = true">
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="opened = !opened"><i
                                          class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                            <p ng-show="form.versionForm.release_date.$invalid" class="help-block">Release Date is
                                required. Supported formats: YYYY-MM-DD, YYYY-MM, YYYY.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" ng-class="{ 'has-error' : form.versionForm.title.$invalid }">
                            <label for="">Title
                                <span ng-bind-html="confluenceTip('VersionTitle')"></span>
                            </label>
                            <input required type="text" name="title" class="form-control" placeholder="Title"
                                   ng-model="version.title">

                            <p ng-show="form.versionForm.title.$invalid" class="help-block">Title is required.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group">
                            <label for="">Notes
                                <span ng-bind-html="confluenceTip('Notes')"></span>
                            </label>
                            <textarea ng-model="version.note" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </form>

            <hr>

            <!-- Hidden form for validation outside of the table -->
            <form name="form.apForm" class="hidden">
                <input type="hidden" name="type" required
                       ng-model="newValue.ap.type">
                <input type="hidden" name="format" required
                       ng-model="newValue.ap.format"
                       ng-if="newValue.ap.type === 'file'">
                <input type="url" name="uri" required
                       ng-model="newValue.ap.uri">
            </form>

            <!--<p>form validation: [[ form.apForm.$valid ]]</p>-->

            <div class="row">
                <div class="col-md-12">
                    <label>Access Points:</label>
                    <table class="table">
                        <thead>
                            <th>Type</th>
                            <th>Resource</th>
                            <th>&nbsp;</th>
                        </thead>
                        <tbody>

                        <tr ng-if="!version.access_points.length">
                            <td colspan="3">
                                No access points available
                            </td>
                        </tr>

                        <tr ng-repeat="ap in version.access_points track by $index">
                            <td>[[ ap.type === 'file' ? 'File - ' + ap.format : ap.type ]]</td>
                            <td>
                                <a href="[[ ap.uri ]]" title="[[ ap.uri ]]">
                                    <span ng-if="!ap.name">URI</span>
                                    <span ng-if="ap.name">[[ ap.name ]]</span>
                                </a>
                            </td>
                            <td>
                                <a href=""
                                   class="btn btn-primary btn-primary-warning"
                                   ng-click="list_remove('access_points', $index)">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                        </tr>

                        <tr ng-show="showNewAPForm">
                            <td>
                                <div class="form-group"
                                     ng-class="{ 'has-error' : form.apForm.type.$invalid && form.apForm.$submitted  }">
                                    <select class="form-control caret-for-select" required name="type"
                                            ng-options="option.value as option.name group by option.group for option in typeFormatOptions"
                                            ng-change="updateNewAPTypeFormat(selectedOption)"
                                            ng-model="selectedOption">
                                        <option disabled value="">Type</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="form-group"
                                     ng-class="{ 'has-error' : form.apForm.uri.$invalid && form.apForm.$submitted  }"
                                     ng-if="newValue.ap.type && newValue.ap.type != 'file'">
                                    <input type="url" required name="uri"
                                           class="form-control"
                                           placeholder="URI"
                                           ng-model="newValue.ap.uri">
                                </div>
                                <div class="form-group"
                                     ng-class="{ 'has-error' : form.apForm.uri.$invalid && form.apForm.$submitted  }"
                                     ng-if="newValue.ap.type && newValue.ap.type == 'file'">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="button"
                                                    class="btn btn-default form-control"
                                                    ngf-select
                                                    ngf-change="upload($files, newValue.ap)"><i
                                                    class="fa fa-upload"></i>
                                                    <span ng-if="!newValue.ap.name">Upload File</span>
                                                    <span ng-if="newValue.ap.name"><i class="fa fa-ok"></i> [[ newValue.ap.name ]]</span>
                                            </button>
                                        </span>
                                    </div>

                                    <div class="alert alert-danger alert-important"
                                         ng-if="error_upload_msg">
                                        <span ng-bind-html="error_upload_msg"></span>
                                    </div>

                                    <progressbar
                                            ng-if="newValue.ap.type=='file' && uploadPercentage != 0"
                                            animate="true"
                                            value="uploadPercentage"
                                            type="success">
                                        <b>[[uploadPercentage]]%</b>
                                    </progressbar>
                                </div>
                            </td>
                            <td>
                                <a href="" class="btn btn-primary"
                                   ng-disabled="form.apForm.$invalid"
                                   ng-click="addformatform(newValue.ap)">
                                    <i class="fa fa-check"></i> Add
                                </a>
                                <a href="" class="btn btn-primary btn-primary-warning"
                                   ng-click="resetAPForm()">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                    <a href="" class="btn btn-primary"
                       ng-show="!showNewAPForm"
                       ng-click="showNewAPForm = !showNewAPForm">
                        <i class="fa fa-plus"></i> Add Access Point
                    </a>

                </div>
            </div>
        </div>
        </form>

        <hr>

        <div class="container-fluid">
            <label>Version Settings</label>

            <div class="clearfix" ng-if="vocab.poolparty_id">
                <b>Harvest version from Poolparty</b>
                <ands-switch model="newValue.ap.harvest" name="harvestChkbx" class="pull-right"></ands-switch>
            </div>

            <div class="clearfix" ng-if="canImportPublish()">
                <b>Import version into the ANDS Vocabulary Repository</b>
                <ands-switch model="newValue.ap.import" name="importChkbx" class="pull-right"></ands-switch>
            </div>

            <div class="clearfix" ng-if="canImportPublish()">
                <b>Publish version via the ANDS Linked Data API</b>
                <ands-switch model="newValue.ap.publish" name="publishChkbx" class="pull-right"></ands-switch>
            </div>

            <div class="clearfix" ng-if="canReapplyVersion()">
                <b>Reapply version settings on publish</b>
                <ands-switch model="newValue.ap.reapply" name="reapplyChkbx" class="pull-right"></ands-switch>
            </div>

        </div>



        <!--<div class="checkbox">-->
            <!--<label>-->
                <!--<input id="importChkbx" ng-click="setImPubcheckboxes('import')" ng-disabled="!validFormat()" type="checkbox" ng-model="newValue.ap.import"><label ng-disabled="!validFormat()" for="importChkbx"> Import vocabulary into the-->
                <!--ANDS Vocabulary Repository-->
            <!--</label>-->
            <!--</label>-->
            <!--<a class="btn-discard" href="" tip="To enable Import and Publish options, please select Access Point Type <b>File</b> and use one of the following Access Point Formats: <b>TTL</b>, <b>TriG</b>, <b>TriX</b>, <b>N3</b> or <b>RDF/XML</b>."><i class="fa fa-info"></i></a>-->
        <!--</div>-->
        <!--<div class="checkbox">-->
            <!--<label>-->
                <!--<input id="publishChkbx" ng-click="setImPubcheckboxes('publish')" ng-disabled="!validFormat()" type="checkbox" ng-model="newValue.ap.publish"><label ng-disabled="!validFormat()" for="publishChkbx"> Publish vocabulary via the-->
                <!--ANDS Linked Data API-->
            <!--</label>-->
            <!--</label>-->
        <!--</div>-->

    </div>



    <div class="modal-footer swatch-white">
        <div class="alert alert-danger" ng-show="error_message">[[error_message]]</div>
        <button class="btn btn-link" type="button" ng-click="dismiss()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-if="action=='add'" ng-click="save()">Add this Version</button>
        <button class="btn btn-primary" type="button" ng-if="action=='save'" ng-click="save()">Save</button>
    </div>
</div>
