<div id="browse-tree" class="panel swatch-white" ng-if="tree">
  <div class="panel-heading clearfix">
    Browse
    <div class="pull-right">
      <input type="text" ng-model="query"
             placeholder='Search' class="form-control">
      <input type="text"
             name="tree_search"
             placeholder="Search" autocomplete="off"
             class="form-control"
             >
      <button id="btnResetSearch">&times;</button>
      <span id="tree_filter_matches"></span>
      <p id="sort_dropdown" style="display: none">
        <label>Sort:</label>
        <select name="tree_sort" id="tree_sort">
          <option label="Preferred label"
                  value="prefLabel">Preferred label</option>
        </select>
      </p>
      <p id="p_show_notation" style="display: none">
        <label>Show notations:</label>
        <input type="checkbox" name="show_notation" id="show_notation">
      </p>
      <br />
      <button id="expandAll">Expand all</button>
      <button id="collapseAll">Collapse all</button>
    </div>
  </div>
  <div class="panel-body element-no-top maxheight500">
    <!-- The visualization appears here. -->
    <div id="tree"
         class="panel-body element-no-top maxheight500">
    </div>

  </div>
</div>
